<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <title>My Webpage</title>
</head>
<body>
    <p>これからの日時を表示します</p>
    <table class="table">
        <thead>
            <tr>
                <th>日時</th>
                <th>気温</th>
                <th>湿度</th>
                <th>気圧</th>
                <th>アイコン</th>
            </tr>
        </thead>
        <tbody>
            {% for f in forecasts %}
            <tr>
                <td>{{f.time}}</td>
                <td>{{f.temp}}</td>
                <td>{{f.humidity}}</td>
                <td>{{f.pressure}}</td>
                <td><img src="https://openweathermap.org/img/wn/{{f.icon}}.png"></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>    
​
    <form method="POST" action="/forecast">
        <label for="placeInput">地名を入力<label>
        <input id="placeInput" name="place">

        <input type="submit" value="送信！">
    </form>
</body>
</html>