<!DOCTYPE html>
<html lang="ja">
<head>
    <meta cahrset="UTF-8">
    <title>My Webpage</title>
</head>
<body>
    <p>これからの運勢を表示します</p>
    <table border="1">
        <thead>
            <tr>日付</tr>
            <tr>運勢</tr>
        </thead>
        <tbody>
            {% for unsei in fortune_list %}
            <tr>
                <td>{{unsei.day}}</td>
                <td>{{unsei.fortune}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>    
    {% if comment %}
    <p>今日の占いに対するコメントは？<br>
        {{comment}}
    </p>
    {% endif %}

    <form method="POST" action="/fortune">
        <label for="commentInput">今日の占いに対するコメントを入力</label>
        <input id="commentInput" name="comment">

        <p>表示したい日数<br>
            <select name="num_of_days">
                <option value="1">1日分</option>
                <option value="2">2日分</option>
                <option value="3" selected>3日分</option>
                <option value="4">4日分</option>
                <option value="5">5日分</option>
            </select></p>
        <input type="submit" value="送信！">
    </form>
</body>
</html>

<!--
            <p>表示したい日数<br>
            <select name="num_of_days">
                {% for _ in range(5) %}
                <option value="{{loop.index}}">{{loop.index}}日分</option>
                {% endfor %}
            </select></p>
-->