<!DOCTYPE html>
<html lang="ja">
<head>
    <meta cahrset="UTF-8">
    <title>My Webpage</title>
    <link rel="stylesheet" href="static/index.css">
</head>
<body>
    <h1>My Webpage</h1>
    <p>Hello world</p>
    <p>今日の運勢は {{ fortune }} です</p>
    {% if fortune == "大吉" %}
    <p>おめでとう</p>
    {% elif fortune == "中吉" %}
    <p>もう一歩</p>
    {% else %}
    <p>再読み込みしてみてね</p>
    {% endif %}

    <p>このページでは、占いの結果として表示されるのは以下の通りです
        <ul>
            {% for unsei in fortune_list %}
            <li>{{unsei}}</li>
            {% endfor %}
        </ul>
    </p>
</body>
</html>
